//Font Family
$font: 'Open sans', sans-serif;

//Font Weight
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

//Color
$body_color: #f6f3f2;
$masthead_bg: #D33A2C;
$nav_bg: #A82E23;
$news_title: #111111;
$social_title: #333;
$news_author: #666666;
$news_text: #7b7b7b;
//$news_text: #a16161;
$white: #fff;
$black: #000000;
$cat_cap: #E83D32;
$top-article: #BC3428;
$hover_arrow: #006Fc6;
$advert_bg: #1b71bb;
$advert_bg_lower: #01a6c1;
$btn_text: #267DCC;
$email_meow: #0168b8;
$email_btn: #0685bd;
$js_color: #19a972;
$css_color: #ff5a00;
$web_color: #AA1994;